.user-Pro{
    border-radius: 50px;
      position: fixed;
      right: 36px;
      top: 5px;
      margin: 10px 30px;
      color: rgb(110, 109, 109);
      cursor: pointer;
      width: 45px;
  }

 
  @media screen and (max-width: 820px) and (min-width: 800px) { 
.edanswer{
  width: 415px !important;
display: flex !important;
justify-content: center !important;
  }
}
  .user_rep
  {
     border-radius: 50px;
      position: fixed;
      right: 87px;
      width:48px !important;
      top: 4px;
      margin: 10px 30px;
      color: rgb(110, 109, 109);
      cursor: pointer;
    
  }
  .user_points{ 
      position: fixed;
      right: 75px;
      width:160px !important;
      top: 20px;
      margin: 10px 30px;
      color: rgb(110, 109, 109);
      cursor: pointer;
      width: 45px;
  }